.fa-brands{
    font-size: 600%;
    color: #1db954;
}

.card-body{
    background-color: #191414;
}

.card-body h2, h5{
    color: #fff;
}

.profile .profile-overview .card-title {
    color: #fff;
  }
  

.card-body p{
    color: #fff;
}

.custom-btn{
    color: #fff;
}

.custom-btn:hover{
    color: #1db954;
    font-weight: bold;
}

.nav-item .active{
    color: #1db954;
    font-weight: bold;
    border: #1db954;
}

label{
    color: #fff;
    font-weight: bold;
}