<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard Principal</h1>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
      <div class="row">
  
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
  
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Artistas Recopilados</h5>
  
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{artistasRecopilados}} Artistas</h6>  
                    </div>
                  </div>
                </div>
  
              </div>
            </div><!-- End Sales Card -->
  
            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Tempo Promedio por Canción</h5>
  
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-wave-square"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{bpmPromedio}} bpm</h6>  
                    </div>
                  </div>
                </div>
  
              </div>
            </div><!-- End Revenue Card -->
  
            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
  
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Tiempo Promedio por Canción</h5>
  
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-music"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{tiempoPromedio}} minutos</h6>  
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div><!-- End Customers Card -->
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Top 10 Artistas Con Participación En Más Canciones</h5>
  
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Artista</th>
                        <th scope="col"># Canciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of topArtistas; track item.top) {
                        <tr>
                          <th scope="row"><a href="#">{{item.top}}</a></th>
                          <td>{{item.artista}}</td>
                          <td>{{item.canciones}} Canciones</td>
                        </tr>
                      }
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div><!-- End Recent Sales -->
  
            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Top 10 Canciones Más Populares</h5>
  
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Popularidad</th>
                        <th scope="col">Canción</th>
                        <th scope="col">Artista</th>
                        <th scope="col">Fecha de Lanzamiento</th>
                        <th scope="col">Fecha de Captura</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of dataPopularidad; track item.spotify_id) {
                        <tr>
                          <th scope="row">{{item.popularity}}</th>
                          <td>{{item.name}}</td>
                          <td>{{item.artists}}</td>
                          <td class="fw-bold">{{item.album_release_date}}</td>
                          <td>{{item.snapshot_date}}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div><!-- End Top Selling -->
  
          </div>
        </div><!-- End Left side columns -->
  
        <!-- Right side columns -->
        <div class="col-lg-4">
  
          <!-- Recent Activity -->
          <div class="card topSongsArtists overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Canciones Más Populares del Artista Top 1 - {{topArtistas[0].artista}}</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Canción</th>
                    <th scope="col">Popularidad</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of dataCancionesArtista; track item.spotify_id) {
                    <tr>
                      <td>{{item.name}}</td>
                      <td>{{item.popularity}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div><!-- End Recent Activity -->
  
        </div><!-- End Right side columns -->
  
      </div>
    </section>

    <!--
    <table>
      <tbody>
          @for (datum of data; track datum.spotify_id) {
            <tr>
                <th> {{  datum["artists" ]  }}  </th>
              <td> {{  datum["energy" ]  }}  </td>
              <td> {{  datum["album_name" ]  }} </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="text-center">Aún no hay datos</td>
            </tr>
          }
      </tbody>
  </table>
  -->

  </main><!-- End #main -->
  