<main id="main" class="main">

    <div class="pagetitle">
      <h1>Tablas de Datos</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" (click)="seleccionarTipo('Explícitas')">Explícitas</a></li>
                <li><a class="dropdown-item" (click)="seleccionarTipo('No Explícitas')">No Explícitas</a></li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title" id="cardTitleExplicitud">Top 10 Canciones Explícitas Más Populares</h5>

              <table class="table" id="top10explicitas">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Canción</th>
                    <th scope="col">Artista</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of top10Explicitas; let i = $index; track item.spotify_id){
                    <tr>
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.artists}}</td>
                    </tr>
                  }
                </tbody>
              </table>
              <table [class]="['table', 'noMostrar']" id="top10noexplicitas">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Canción</th>
                    <th scope="col">Artista</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of top10NoExplicitas; let i = $index; track item.spotify_id){
                    <tr>
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.artists}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>

          
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" (click)="seleccionarTipo2('Bailables')">Bailables</a></li>
                <li><a class="dropdown-item" (click)="seleccionarTipo2('Movidas')">Movidas</a></li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title" id="cardTitleViveza">Top 10 Canciones Más Bailables</h5>

              <table class="table" id="top10bailables">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Canción</th>
                    <th scope="col">Artista</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of top10Bailables; let i = $index; track item.spotify_id){
                    <tr>
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.artists}}</td>
                    </tr>
                  }
                </tbody>
              </table>
              <table [class]="['table', 'noMostrar']" id="top10movidas">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Canción</th>
                    <th scope="col">Artista</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of top10Movidas; let i = $index; track item.spotify_id){
                    <tr>
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.artists}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
